.Footer {
    background: #ffffff;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
}

.text {
    font-family: "Pretendard";
    font-size: 14px;
    text-align: center;
    color: #3f3f3f;
    margin: 3px;
}